ng-container(*ngIf='!rtl')
    nav.sb-topnav.navbar.navbar-expand.shadow.navbar-light.bg-white
        a.navbar-brand.d-none.d-sm-block(routerLink='/dashboard')
            img(src='assets/img/PeakSoftGmbH_Logo.svg')

        button#sidebarToggle.btn.sb-btn-icon.sb-btn-transparent-dark.order-1.order-lg-0.mr-lg-2(
            data-cy='topNavToggleSideNav',
            (click)='toggleSideNav()'
        )
            i-feather(name='menu')

        sbpro-top-nav-search

        form.form-inline.mr-3.ml-auto
            a.btn.btn-outline-primary.btn-sm(href='https://docs.startbootstrap.com/sb-admin-pro-angular', target='_blank')
                .d-none.d-sm-inline-flex.align-items-center
                    i-feather.mr-1(name='book')
                    | Documentation
                .d-inline-flex.d-sm-none
                    | Docs

        ul.navbar-nav
            sbpro-top-nav-alerts
            sbpro-top-nav-messages
            sbpro-top-nav-user

ng-container(*ngIf='rtl')
    nav.pr-3.pr-sm-0.pl-3.sb-topnav.navbar.navbar-expand.shadow.navbar-light.bg-white
        ul.navbar-nav.align-items-center
            sbpro-top-nav-user(placement='bottom-left')
            sbpro-top-nav-messages(placement='bottom-left')
            sbpro-top-nav-alerts(placement='bottom-left')

        form.form-inline.ml-3.mr-auto
            a.btn.btn-outline-primary.btn-sm(href='https://docs.startbootstrap.com/sb-admin-pro-angular', target='_blank')
                .d-none.d-sm-inline-flex.align-items-center
                    i-feather.mr-1(name='book')
                    | Documentation
                .d-inline.d-sm-none
                    | Docs


        sbpro-top-nav-search.ml-auto.d-none.d-lg-block

        button#sidebarToggle.btn.sb-btn-icon.sb-btn-transparent-dark.order-1.order-lg-0.ml-lg-2.ml-2(
            data-cy='topNavToggleSideNav',
            (click)='toggleSideNav()'
        )
            i-feather(name='menu')

        a.navbar-brand.text-right.d-none.d-sm-block(routerLink='/dashboard')
            img(src='assets/img/PeakSoftGmbH_Logo.svg')
