<ng-container *ngIf="!rtl"
    ><nav class="sb-topnav navbar navbar-expand shadow navbar-light bg-white">
        <a class="navbar-brand d-none d-sm-block" routerLink="/dashboard"><img src="assets/img/PeakSoftGmbH_Logo.svg"/></a><button class="btn sb-btn-icon sb-btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()"><i-feather name="menu"></i-feather></button><sbpro-top-nav-search></sbpro-top-nav-search>
        <form class="form-inline mr-3 ml-auto">
            <a class="btn btn-outline-primary btn-sm" href="https://docs.startbootstrap.com/sb-admin-pro-angular" target="_blank"
                ><div class="d-none d-sm-inline-flex align-items-center"><i-feather class="mr-1" name="book"></i-feather>Documentation</div>
                <div class="d-inline-flex d-sm-none">Docs</div></a
            >
        </form>
        <ul class="navbar-nav">
            <sbpro-top-nav-alerts></sbpro-top-nav-alerts
            ><sbpro-top-nav-messages></sbpro-top-nav-messages
            ><sbpro-top-nav-user></sbpro-top-nav-user>
        </ul></nav></ng-container
><ng-container *ngIf="rtl"
    ><nav class="pr-3 pr-sm-0 pl-3 sb-topnav navbar navbar-expand shadow navbar-light bg-white">
        <ul class="navbar-nav align-items-center">
            <sbpro-top-nav-user placement="bottom-left"></sbpro-top-nav-user
            ><sbpro-top-nav-messages placement="bottom-left"></sbpro-top-nav-messages
            ><sbpro-top-nav-alerts placement="bottom-left"></sbpro-top-nav-alerts>
        </ul>
        <form class="form-inline ml-3 mr-auto">
            <a class="btn btn-outline-primary btn-sm" href="https://docs.startbootstrap.com/sb-admin-pro-angular" target="_blank"
                ><div class="d-none d-sm-inline-flex align-items-center"><i-feather class="mr-1" name="book"></i-feather>Documentation</div>
                <div class="d-inline d-sm-none">Docs</div></a
            >
        </form>
        <sbpro-top-nav-search class="ml-auto d-none d-lg-block"></sbpro-top-nav-search><button class="btn sb-btn-icon sb-btn-transparent-dark order-1 order-lg-0 ml-lg-2 ml-2" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()"><i-feather name="menu"></i-feather></button><a class="navbar-brand text-right d-none d-sm-block" routerLink="/dashboard"><img src="assets/img/PeakSoftGmbH_Logo.svg"/></a></nav
></ng-container>
